html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    
    
}

#contenedor{
    display: flex;
    flex-direction: column;
    
}

header{
    display: flex;
    flex-direction: column;
    background-color: #022151;
    justify-content: center;
    padding: 15px;
    
}

header a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-top: 15px;
    
}

span{
    color: #F6A63C;
    
}

#head1{
    font-weight: bolder;
}

#main{
    margin: 10px 150px 10px 200px;
}

#seccion1{
    background-image: url(./bitcoin-g74299886d_640.jpg);
    background-size:cover;
    color: #F6A63C;
    font-weight: bolder;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr{
        height: 2px;
        background-color: #F6A63C;
        border: none;
        width: 100px;
        margin-left: 0;
        margin-top: 0px;
}

#pic1{
    max-width:300px;
}

.button{
   background-color: #F6A63C; 
    padding: 15px;
    border-radius: 30px;
    width: 160px;
    color: white;
    margin-bottom: 20px;
    text-decoration:none;
}

#container {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#container #para{
  position: absolute; 
  bottom: 40px; 
  left: 80px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  padding: 20px; 
  
}

.blue{
    color: #52A9FB;
    font-weight: bolder;
    font-size: 13px;
    text-align: left;
    margin-bottom: 0;
     margin-left: 10px;
}

.blue1{
    color:#132351;
    font-size: 21px;
    text-align: left;
    margin-top: 5px;
    font-weight: 900 bolder;
     margin-left: 10px;
}


#line{
    background-color:#132351;
     margin-left: 10px;
}

#seccion4{
    background-color: #05060B;
    color: white;
    margin-top: 40px;
}

#seccion3{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

#seccion3 h2{
    text-align: center;
    background-color: #4A9CFB;
    padding: 20px;
    color: white;
}

#seccion5{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


#line2{
    background-color: white;
    margin-left: 200px;
}

#content{
display: grid;
grid-template-columns: 150px;
grid-gap:10px;
margin: 0px 50px;
    
}
        
#content img{
padding: 10px;
height: 20px;
width: 200px;
margin: 10px  40px 5px 50px;
border: solid 2px #05060B;
}

#sec{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    
}
#sec h2{
    text-align: center;
    margin-top: 0;
    color:#132351;
}

#sec p{
    text-align: left;
    font-size: 22px;
    margin-bottom: 0;
    color: #52A9FB;
}

#cells{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
   
}

#cells h2{
    color: #7863FE;
    margin-bottom: 0;
    
    
}

#cells p{
  color: white;
    font-size: 15px;
    text-align: center;
}

#cell1,#cell2,#cell3,#cell4{
    margin-bottom: 30px;
    background-color: #132351;
    padding: 30px 15px;
     border-right: solid 7px #7863FE;
    
}

#line3{
    background-color: white;
    margin-left: 160px;
    margin-top: 0;
}

#cars{
display: grid;
grid-gap:30px;
margin: 17px 30px;
    
}

#cars img{
    width: 300px;
    height: 300px;
}

#set{
    text-align: center;
    background-color: #4A9CFB;
    padding: 15px;
    color: white;
    
}
#sett{
    font-size: 26px;
    padding: 0px;
    margin-bottom: 5px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 19px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade video{
    object-fit:cover;
    width:500px;
    height: 300px;
}

#move{
    text-align: center;
}

#height video{
    height: 300px;
    width: 500px;
    object-fit: cover;
    margin-bottom: 30px;
    
}

#height{
    background-color: #132351;
    color: white;
    padding: 10px;
}

.blue2{
    color: #52A9FB;
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
}

.blue3{
    color:#132351;
    font-size: 26px;
    text-align: left;
    margin-top: 5px;
    font-weight: 900 bolder;
  
    
}

#ppp img{
    width: 400px;
    height: 300px;
    margin: 5px 5px;
}

#ppp{
    padding: 20px;
}

input[type=text], select {
  width: 85%;
  padding: 20px 30px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  float: left;
}

input[type=submit] {
  width: 50%;
  color: white;
  padding: 14px 20px;
  margin: 8px 350px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

#formm{
    width: 100%;
    margin-bottom: 50px;
}

::placeholder { 
  color: #132351;
  font-family: 'Akshar', sans-serif;
    font-size: 18px;
}

#description{
    color: #132351;
  font-family: 'Akshar', sans-serif;
    font-size: 18px;
    width: 85%;
    margin-left: 20px;
    margin-top: 20px;
}

#submit{
    color: white;
    font-family: 'Akshar', sans-serif;
    font-size: 18px;
    background-color: #7863FE;
    margin-left: 100px;
    border-radius: 29px;
}

#headu{
    background-color: #132351;
}

#line4{
    background-color: white;
    margin-top: 15px;
}

.blue4{
    color: #52A9FB;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

.blue5{
    color:white;
    font-size: 26px;
    text-align: center;
    margin-top: 5px;
    font-weight: 900 bolder;
}

.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    left: 15px;
    z-index: 100;
}

.fa-whatsapp {
    margin-top: 10px;
}
#seccion2{
        padding: 25px;
    }


























@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
    


@media screen and (min-width:600px) and (max-width: 1600px ) {
    body{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    margin: auto;
}
    #contenedor{
        background-color: white;
    }
    
    
    header{
        align-items: center;
    }
    
    #pic1{
        max-width: 500px;
        margin: auto;
    }
    
    #container{
        max-width: 500px;
        margin: auto;
        margin-top: 40px;
    }
    
    iframe{
        max-width: 500px;
        margin: auto;
        margin-top: 40px;
        
    }
    
    #seccion2{
        padding: 20px;
    }
    
}




/*
 On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
*/












